<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>

    <div layout:fragment="content"> 
    <div class="container">
    	<h4 class="text-info"> add new project </h4>
    	<p class="lead" th:if="${message}"><span th:text="${message}" style='color: #aa0'/></p>
    	<br/>
    		<div class="form-group border border-primary rounded px-2">
				<form action="addProjectForm" method="post">
						<div class="w-50 m-3">
							<label for="projectName">Project name</label>
							<input type="text" name="projectName" value="" class="form-control" id="projectName" placeholder="enter name"/>
							<br/>

							<label for="projectOwner">PI: </label>
							<select class="form-control" name="ownerId" id="projectOwner">
          						<option th:each="user: ${usersList}" th:value="${user.id}" th:text="${user.name}"></option>
        					</select>
							
						</div>
						
						<button type="submit" class="btn btn-primary">Add project</button>
				</form>
					
			</div>
    </div>
    </div>
</body>
</html>