<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>

    <div layout:fragment="content"> 
    <div class="container">
    	<h4 class="text-info"> add new user </h4>
    	<p class="lead" th:if="${message}"><span th:text="${message}" style='color: #aa0'/></p>
    	<br/>
    		<div class="form-group border border-primary rounded px-2">
				<form action="addUserForm" method="post">
						<div class="w-50 m-3">
							<label for="nameInput">Name</label>
							<input type="text" name="name" value="" class="form-control" id="nameInput" placeholder="enter name"/>
							<br/>
							
<!-- 							<label for="loginInput">Login</label>
							<input type="text" name="login" value="" class="form-control" id="loginInput" placeholder="enter login"/>
							<br/> -->

							<label for="loginPasswd">Password</label>
							<input type="password" name="password" value="" class="form-control" id="loginPasswd" placeholder="enter password"/>
							<br/>
							
							<label for="emailInput">e-mail (it is going to be a login)</label>
							<input type="text" name="email" value="" class="form-control" id="emailInput" placeholder="enter e-mail address"/>
							<br/>
						</div>
						
						<button type="submit" class="btn btn-primary">Add user</button>
				</form>
					
			</div>
    </div>
    </div>
</body>
</html>