<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head>
<script th:inline="javascript">
		
		$(document).ready( function(){
			$('#exampleModal').on('show.bs.modal', function (event) {
			  var button = $(event.relatedTarget); // Button that triggered the modal
			  var constructId = button.data('constructid');
			  var constructName = button.data('constructname'); 
			  var modal = $(this);
			  modal.find('.modal-title').text('Deleting ' + constructName);
			  modal.find('.modal-body p').text("Do you really want to delete: " + constructName + "?");
			  modal.find('#constructID').val(constructId);
			})
		});
		
	</script>
</head>

<body>

  <div layout:fragment="content">
    
        <!-- Modal window -->
		<div class="modal fade" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<form class="d-inline p-2" action="deleteConstruct" method="POST">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Title</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>Deleting construct information</p>
							
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"	data-dismiss="modal">Cancel</button>
														
							<button type="submit" class="btn btn-primary">Delete construct</button>
							<input id="constructID" type="hidden" name="constructId" />
						</div>
					</div>
				</form>
			</div>
		</div>
        
	<div th:include="menuFragment"></div> 
    <div class="container">
    	<h4 class="text-info"> construct details </h4>
    	<p class="lead" th:if="${message}"><span th:text="${message}" style='color: #aa0'/></p>
    	<br/>
    	
	    <div class="container-fluid form-group border border-primary rounded px-2 ">
	      <div class="row px-5 py-2">
	    	<div class="text-left col-9">
		    	<p class="text-secondary">Construct name: <span th:text="${construct.constructName}" class="text-dark font-weight-bold"/></p>
				<p class="text-secondary">Project: <span th:text="${construct.project.projectName}" class="text-dark font-weight-bold"/></p>
				<p class="text-secondary">Prepared by: <span th:text="${construct.user.name}" class="text-dark font-weight-bold"/></p>
				<p class="text-secondary">Created on: <span th:text="${#dates.format(construct.date, 'yyyy MMM dd')}" /></p>
				<hr/>
				<p class="text-secondary">DNA origin: <span th:text="${construct.originDNA}" class="text-dark font-weight-bold"/></p>
				<p class="text-secondary">Insert sequence: <br/> <span th:text="${construct.insertSequence}" class="text-dark"/></p>
				<p class="text-secondary">Cloned into plasmid: <span th:text="${construct.plazmidName}" class="text-dark font-weight-bold"/></p>
				<p class="text-secondary">Primers: <br/> <span th:text="${construct.primers}" class="text-dark"/></p>
				<br/>
				<p class="text-secondary">Additional information:<br/> <span th:text="${construct.comment}" class="text-dark"/></p>
			</div>
			<div class="center col-3">
				<div class="col-sm-8">
					<form action="constructForm" method="GET" >
							<input type="hidden" name="constructId" th:value="${construct.id}" />
							<button class="btn btn-info btn-block" type="submit">Edit</button>
					</form>
									
<!-- 					<form action="deleteConstruct" method="POST"  th:if="${session.userDto.isadmin}==true or ${construct.user.email}==${session.userDto.email}">
							<input type="hidden" name="constructId" th:value="${construct.id}" />
							<button class="btn btn-warning btn-block" type="submit">Delete</button>
					</form>
					 -->
					<button type="button" class="btn btn-warning"
						th:if="${session.userDto.isadmin}==true or ${construct.user.email}==${session.userDto.email}" data-toggle="modal"
						data-target="#exampleModal" th:data-constructid="${construct.id}"
						th:data-constructname="${construct.constructName}">Delete with modal</button>
					<br/>
				</div>
				
				<div class="pt-2" th:if="${seqFileExist}">
					<p>Do you need a sequence?</p>
					<form  action="downloadSequence" method="GET" class="col-sm-8">
							<input type="hidden" name="constructId" th:value="${construct.id}" />
							<button class="btn btn-info btn-block" type="submit">Download</button>
					</form>
				</div>
				
				<form action="addSequence" method="POST" enctype="multipart/form-data" th:unless="${seqFileExist}">
					
					<!--<label for="sequenceFile" >Upload a sequence file</label>
					<input type="hidden" name="constructId" th:value="${construct.id}" />
					<input type="file" id="sequenceFile" name="sequenceFile" multiple="multiple" /> 
					<button class="btn btn-info" type="submit">Upload</button>-->
					
					<p>Upload a sequence file</p>	
					<div class="form-control">
						<label class="btn btn-outline-secondary" for="file-selector">
	   					 	<input id="file-selector"  name="sequenceFile" multiple="multiple" type="file" style="display:none" onchange="$('#upload-file-info').html(this.files[0].name)">
	   				 		Browse
						</label><br/>
						<span class='label label-info' id="upload-file-info"></span>
					</div>
					<input type="hidden" name="constructId" th:value="${construct.id}" />
					<button class="btn btn-info" type="submit">Upload</button>  	

				</form>				
				
			</div>
		  </div>
		</div>
			<div th:if="${mapFileExist}">
				<embed
					th:src="'/constructDetails/'+${construct.id}+'/pdf/'+${construct.id}+'_map_'+${construct.constructName}+'.pdf'"
					type="application/pdf" style="height: 500px; width: 100%" />
			</div>
			<div th:unless="${mapFileExist}">
			
				<p class="text-info lead">Upload map</p>
						
				<form class="pt-4" action="addMapFile" method="POST" enctype="multipart/form-data">
			 		<div class="form-control col-sm-8">
						<label class="btn btn-outline-secondary" for="map-selector">
	   					 	<input id="map-selector" type="file" name="mapFile" multiple="multiple" accept=".pdf" style="display:none" onchange="$('#upload-map-info').html(this.files[0].name)">
	   				 		 Browse 
						</label><br/>
						<span class='label label-info' id="upload-map-info"></span>
					</div> 
					<!-- simple version: -->
					<!-- <label for="mapFile">Upload map (pdf):</label>
					<input type="file" id="mapFile" name="mapFile" multiple="multiple" /> -->
 					<input type="hidden" name="constructId" th:value="${construct.id}" /> 		 
					<button class="btn btn-info" type="submit">Add map</button>
				</form>
			</div>	
			

    </div>
  </div>
</body>
</html>