<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>

    <div layout:fragment="content"> 
      <div class="container">
    	<br/>
    	<h4 class="text-info"> update user data</h4>
    	<p class="lead" th:if="${message}"><span th:text="${message}" style='color: #aa0'/></p>
    	<p class="lead" th:unless="${message}"></p>
    	
    		<div class="form-group border border-primary rounded px-2">
				<form action="editUser" method="post">
						<div class="w-50 m-3">
							<input type="hidden" name="userId" th:value="${userDto.id}" />
							
							<label for="nameInput">Name</label>
							<input type="text" name="userName" th:value="${userDto.name}" class="form-control" id="nameInput" />
							<br/>
											
							<label for="emailInput">e-mail (login)</label>
							<input type="email" name="userEmail" th:value="${userDto.email}" class="form-control" id="emailInput" />
							<br/>
							
							<div th:if="${session.userDto.isadmin}==true" class="custom-control custom-checkbox mr-sm-2">			
						 		
								<input name="userRole" type="checkbox" th:checked="${userDto.isadmin}" id="roleInput" class="custom-control-input "/>
								<label for="roleInput" class="custom-control-label pull-left">admin privileges</label> 
							 </div>      
<!-- 	        					<div class="col-sm-5">
	      							<button type="button" class="btn btn btn-toggle" data-toggle="button" th:aria-pressed="${userDto.isadmin}" autocomplete="off" id="roleInput">
	        							<div class="handle"></div>
	    							 </button>
	   							</div>
							</div> -->
  
						
						</div>
						<button type="submit" class="btn btn-primary">Update</button>
				</form>
			</div>
			<div class="form-group border border-primary rounded px-2" th:if="${session.userDto.email}==${userDto.email} or ${session.userDto.isadmin}==true" >
				<form action="changePass" method="post">
					
						<div class="w-50 m-3">
						
							<h5>Change password</h5>
							<label for="loginPasswd">Old password</label>
							<input type="password" name="password" value="" class="form-control" id="loginPasswd" placeholder="enter password"/>
							<br/>
							
							<label for="loginNewPasswd">New password</label>
							<input type="password" name="newPassword" value="" class="form-control" id="loginNewPasswd" placeholder="enter new password"/>
							<br/>
						</div>
						<button type="submit" class="btn btn-warning">Change password</button>
				</form>
					
			</div>
		</div>
    </div>
    

    
</body>
</html>