<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
	<script th:inline="javascript">
		function confirmDelete(name, constructCount){
			return confirm("Do you really want to delete: " + name + " together with its " + constructCount + " constructs?");
		}
	</script>
</head>

<body>

    <div layout:fragment="content">
		<div th:include="menuFragment"></div>
		
		<h5 class="text-info">Projects list</h5>
		
		<form action="addProjectForm" method="GET">
			<button class="btn btn-info" type="submit">Add project</button>

		</form>
		<p class="lead" th:if="${message}">
				<span th:text="${message}" style='color: #aa0' />
		</p>
		
		<div class="container">
		<table  class="table table-striped table-hover">
				<thead class="thead-dark">
					<tr>
						<th>Project name</th>
						<th>Owner</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="project: ${projectsList}">
						<td><span th:text="${project.projectName}" /></td>
						<td><span th:text="${project.user.name}" /></td>
						<td>
							<div class="form-group">

								<form class="d-inline p-2" action="editProjectForm" method="GET" >
									<input type="hidden" name="projectId" th:value="${project.id}" />
									<button class="btn btn-info" type="submit">Edit</button>
								</form>
								
								<form class="d-inline p-2" action="deleteProject" method="POST" th:if="${session.userDto.isadmin}==true" >
									<input type="hidden" name="projectId" th:value="${project.id}" />
									<button class="btn btn-warning" th:onclick="'return confirmDelete(\''+${project.projectName}+'\','+${project.numberOfConstructs}+')'" type="submit">Delete</button>
								</form>
							</div>
						</td>
					</tr>
				</tbody>
			</table>		
			</div>
    </div>

</body>
</html>