<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<body>

    <div layout:fragment="content">

			<div class="container">
				<div class="jumbotron custom-margin-top">
					<h1 class="display-4">Witaj w plasmIK!</h1>
					<p class="lead">Zaloguj się, aby dodawać informacje o nowych konstruktach.</p>
					<p class="lead" th:if="${message}"><span th:text="${message}" style='color: #cc0'/></p>
				</div>
				<div class="form-group border border-primary rounded px-2">
					<form action="Start" method="post">
					
						<div class="w-50 m-3" align="left">
							<label for="loginInput">Login</label>
							<input type="text" name="email" value="" class="form-control" id="loginInput" placeholder="enter email"/>
							<br/>
							<label for="loginPasswd">Password</label>
							<input type="password" name="password" value="" class="form-control" id="loginPasswd" placeholder="enter password"/>
						</div>
						
						<button type="submit" class="btn btn-primary">Log in</button>
					</form>
					<a class="text-info" href="/ForgotData"> Forgot login or password?</a>
				</div>
							
			</div>
			<div class="container">
				<form class="border border-primary rounded" action="RegistrationForm" method="get">
					<br/>
					You do not have an account?	
					<button type="submit" class="btn btn-primary m-2">Register!</button>
				</form>			
			</div>
		</div>

</body>
</html>





